# Database (AWS RDS PostgreSQL)
DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/partnerble?schema=public"

# App
PORT=3000
NODE_ENV=development

# AWS S3
AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=
