commands:
  01_associate_eip:
    command: |
      INSTANCE_ID=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
      aws ec2 associate-address \
        --instance-id $INSTANCE_ID \
        --allocation-id $EIP_ALLOCATION_ID \
        --region $AWS_REGION \
        --allow-reassociation
    ignoreErrors: false
